.container {
    border: 2px solid whitesmoke;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    width: 70%;
    border-radius: 1.2rem;

    .header {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid whitesmoke;
        font-size: 1.4rem;
        padding: 0 0.5rem 0.5rem 0.5rem;

        p:nth-child(1) {
            margin-right: 15rem;
        }
    }

    ul {
        margin-top: 1rem;
        font-family: "Inter", sans-serif;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid whitesmoke;
            padding: 0 0.5rem 1rem 0.5rem;
            margin-bottom: 1rem;

            .productLeft {
                display: flex;
                align-items: center;
                gap: 1.8rem;

                p {
                    width: 18rem;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }
            img {
                width: 6rem;
                height: 6rem;
                border-radius: 0.7rem;
                object-fit: cover;
            }

            .qtyContainer {
                border: 2px solid whitesmoke;
                display: flex;
                align-items: center;
                gap: 0.8rem;
                padding: 0.2rem 0.6rem;
                border-radius: 1.1rem;
                justify-content: center;

                button {
                    font-size: 1.1rem;
                    cursor: pointer;
                }
            }

            .price {
                font-weight: 600;
                font-size: 1.3rem;
            }

            &:nth-last-child(1) {
                border-bottom: none;
            margin-bottom: 0;

            }
        }
    }
}