nav {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    color: rgb(225, 225, 225);
    
}

.active {
        text-decoration: underline 0.1rem solid skyblue;
        text-underline-offset: 0.3rem;
    }